.password-box {
    position: relative;
    height: 40px;
}
.icon-eye {
    top: 25%;
    right: 7px;
    margin-left: -30px;
    position: absolute;
    cursor: pointer;
    font-size: 18px;
}
.wrap {
    white-space: pre-wrap;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #007a66;
    opacity: 0.5;
}
.href-white {
    color: white !important;
    text-decoration: none;
}
.href-white:hover {
    text-decoration: none;
    opacity: 0.9;
}
.color-base,
.base-color {
    color: #007a66;
}
.black-color {
    color: black;
}
.button-base {
    background-color: #007a66;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
.button-base:hover {
    background-color: #007a66;
    color: white;
    border-radius: 20px;
    opacity: 0.7;
    text-decoration: none;
}
.button-base-yellow:hover {
    background-color: #ffc700;
    color: white;
    opacity: 0.7;
    text-decoration: none;
}
.button-yellow {
    background-color: #ffc700;
    color: white;
    border-radius: 20px;
    text-decoration: none !important;
    outline: none !important;
    border: 0;
}
.button-yellow:hover {
    background-color: #ffc700;
    color: white;
    border-radius: 20px;
    text-decoration: none !important;
    outline: none !important;
    opacity: 0.7;
    border: 0;
}
.star-active {
    color: #ffc700;
}
.nav-link {
    color: #007a66 !important;
    font-weight: bold;
}
#head {
    height: 400px;
}
.nav-left {
    color: gray !important;
}
.nav-left.active {
    color: #007a66 !important;
}
.dropdown-menu.dropdown-menu-right.show {
    background-color: #007a66;
}
.dropdown-menu > a.dropdown-item {
    color: white;
}
.dropdown-menu > a.dropdown-item:hover {
    background-color: #ffc700;
}
.head-box {
    height: 100%;
    position: relative;
    padding-top: 100px;
}
.img-rectangle {
    width: 100%;
    position: absolute;
    top: -150px;
    z-index: -99;
}
.round-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}
.mobil {
    position: absolute;
    width: 200px;
    border-radius: 50%;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, 0);
}
#section-2 {
    color: black;
}
.btn-daftar {
    border-radius: 20px;
    background-color: #007a66;
    color: white;
    text-decoration: none !important;
}
.btn-daftar:hover {
    border-radius: 20px;
    background-color: #007a66;
    color: white;
    opacity: 0.7;
    text-decoration: none !important;
}
.btn-rental {
    border-radius: 20px;
    background-color: #ffc700;
    color: white;
    text-decoration: none !important;
}
.btn-rental:hover {
    border-radius: 20px;
    background-color: #ffc700;
    color: white;
    opacity: 0.7;
    text-decoration: none !important;
}
/* a{
    color: white;
}
a:link{
    color: white;
}
a:hover{
    color: white;
} */
.img-slider {
    border-radius: 20px;
}
.box-border {
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
}
.textbox {
    padding: 5px;
}
.img-box {
    border-radius: 20px;
    height: 150px;
}
.img-box-new {
    border-radius: 20px;
    height: 250px;
}
.img-box > img {
    border-radius: 20px;
}
.selengkapnya {
    color: #007a66;
}
.selengkapnya:link {
    color: #007a66;
}
.selengkapnya:hover {
    color: #007a66;
}
#footer {
    border-top: 1px solid #007a66 !important;
}
div#footer\ mt-2 {
    border-top: 1px solid #007a66 !important;
}
.label-produk {
    color: #a0a0a0;
}
.price {
    color: #ffc700;
}
.star {
    color: #ffc700;
}
.input-style,
.input-base {
    height: 30px;
    border-radius: 20px;
    border: 1px solid #007a66;
}
.button-style {
    background-color: #007a66;
    border: none;
    color: white;
    border-radius: 20px;
}
#chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    cursor: pointer;
    width: 250px;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
}
.chat-bar {
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #007a66;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #007a66;
    background-color: white;
}
.chat-room {
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}
.chat-button {
    position: fixed;
    bottom: 0;
    right: 20px;
    cursor: pointer;
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 250px;
    background-color: #ffc700;
    display: inline-block;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
    color: white;
}
.hidden {
    display: none;
}
.notification {
    background-color: #007a66;
}
.pesan {
    border-bottom: 0.5px solid gray;
    cursor: pointer;
}
.img-user-chat {
    width: 50px;
}
.single-chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 250px;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
}
.single-chat-bar {
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #007a66;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #007a66;
    background-color: white;
}
.single-chat-room {
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    position: relative;
}

.input-message {
    position: relative;
    border: none;
    border-top: 1px solid #007a66;
    width: 100%;
}
.input-pesan {
    width: 100%;
    height: 50px;
}
.send-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    border: none;
    width: 50px;
    background-color: white;
    color: #007a66;
}
.input-pesan {
    border: none;
}
.message {
    background-color: hsl(170, 100%, 24%);
    color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    display: inline-block;
    max-width: 80%;
    overflow-wrap: break-word;
}
.message-row {
    display: flex;
}
.message-own {
    background-color: #ffc700;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}
.own {
    display: flex;
    flex-direction: row-reverse;
}
.back-btn {
    cursor: pointer;
}
.image-chat-box {
    width: 100px;
}
.base-input {
    border: 1px solid #007a66;
    border-radius: 20px;
}
.yellow-text,
.text-yellow {
    color: #ffc700;
}
.gray-text,
.text-gray {
    color: rgba(0, 0, 0, 0.5);
}
.hr-base {
    border-top: 1px solid #007a66;
}
.hr-yellow {
    border-top: 1px solid #ffc700;
}
.hr-black {
    border-top: 1px solid black;
}
.button-base-secondary {
    color: #007a66;
    border: 1px solid #007a66;
    text-decoration: none;
    border-radius: 20px;
}
.button-base-secondary:hover {
    color: #007a66;
    border: 1px solid #007a66;
    text-decoration: none;
    border-radius: 20px;
    opacity: 0.7;
}
.button-secondary {
    background-color: #e0e0e0;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
.button-secondary:hover {
    background-color: #ffc700;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    opacity: 0.7;
}
.vertikal-line {
    border-left: 1px solid #000000;
}
.vertikal-line-base {
    border-left: 1px solid #007a66;
}
.radius-20 {
    border-radius: 20px;
}
.element {
    display: inline-flex;
    align-items: center;
    border: 2px solid #007a66;
    border-radius: 10px;
    cursor: pointer;
}
.camera-icon {
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}
.camera-icon {
    opacity: 0.6;
}
.input-foto {
    cursor: pointer;
    display: none;
}
.select-base-box {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.select-base-box.active {
    background-color: #00ad91;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.select-base {
    color: white;
    background-color: #007a66;
    border-radius: 20px;
    outline: none;
}
.select-base > option {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    border: none;
    outline: none;
    background-color: #00ad91;
}
.img-upload,
.image-upload {
    height: 150px;
}
.tooltip {
    position: relative !important;
    display: inline-block !important;
    opacity: 1 !important;
}

.tooltip .tooltiptext {
    display: hidden !important;
    width: 140px !important;
    background-color: #555 !important;
    color: #fff !important;
    text-align: center !important;
    border-radius: 6px !important;
    padding: 5px !important;
    position: absolute !important;
    z-index: 1 !important;
    bottom: 150% !important;
    left: 50% !important;
    margin-left: -75px !important;
    opacity: 0 !important;
    transition: opacity 0.3s !important;
}

.tooltip .tooltiptext::after {
    content: "" !important;
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    margin-left: -5px !important;
    border-width: 5px !important;
    border-style: solid !important;
    border-color: #555 transparent transparent transparent !important;
}

.tooltip:hover .tooltiptext {
    visibility: visible !important;
    opacity: 1 !important;
}
span.name {
    word-break: break-word;
}
.slick-initialized {
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .img-rectangle {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        z-index: 1;
    }
    .mobil {
        position: absolute;
        width: 100px;
        border-radius: 50%;
        bottom: -25%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
    }
    .head-box {
        height: 200px;
        position: relative;
        padding-top: 0px;
    }
    #head {
        height: 200px;
    }
    h4 {
        font-size: 10px !important;
    }
}
