.cari-rental {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 0 !important;
}
.cari-rental:focus {
    border: 0 !important;
}
input[type="text"],
input[type="password"],
textarea,
select {
    outline: none;
}
.button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: 0;
    background-color: transparent;
}
.search-box {
    position: relative;
    width: 450px;
    height: 30px;
    border-radius: 20px;
    z-index: 9999;
}
.search-box-outer {
    position: relative;
    width: 450px;
}
.text-px {
    margin-left: 6rem;
    margin-right: 6rem;
}
#footer {
    border-top: 1px solid #007a66 !important;
}
.search-toggle-box {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    display: inline-table;
    height: auto;
    background-color: #e0e0e0;
    color: black;
    width: 100%;
    z-index: 9998;
    border: 0 !important;
}
.search-hidden {
    display: none !important;
}
.pemilik-lokasi {
    background-color: white;
}
.kategori-box {
    border: 1px solid #a0a0a0;
    color: #a0a0a0;
    border-radius: 10px;
    cursor: pointer;
}
.filter-checkbox {
    display: none;
}
.filter-checkbox:checked + .kategori-outer > .kategori-box {
    border: 1px solid black !important;
    color: black;
}
.submit-search {
    background-color: #007a66;
    color: white;
    border: none;
    border-radius: 20px;
    display: block;
    width: 50%;
}
.href-base,
.href-base:active,
.href-base:hover,
.href-base:link {
    color: #007a66;
    text-decoration: none;
}
.href-base:hover {
    font-weight: bold;
    color: #007a66;
}
.button-yellow-primary {
    background-color: #ffc700;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    border: 0;
}
.button-yellow-primary:hover {
    background-color: #ffc700;
    color: white;
    border-radius: 20px;
    opacity: 0.7;
    text-decoration: none;
    border: 0;
}
.button-yellow-secondary {
    background-color: white;
    color: #ffc700;
    border-radius: 20px;
    border: 1px solid #ffc700;
    text-decoration: none;
}
.button-yellow-secondary:hover {
    background-color: white;
    color: #ffc700;
    border-radius: 20px;
    border: 1px solid #ffc700;
    opacity: 0.7;
    text-decoration: none;
}
.yellow-color {
    color: #ffc700;
}
.button-gray {
    background-color: #c4c4c4;
    color: white;
    border: 0;
    border-radius: 5px;
}
.button-gray:hover {
    background-color: #c4c4c4;
    color: black;
    opacity: 0.5;
    border: 0;
    border-radius: 5px;
}

.base-background {
    background-color: #007a66;
}
.radius-5 {
    border-radius: 5px;
}
.radius-5:hover {
    border-radius: 5px;
}
@media only screen and (min-width:1027px){
    .img-rectangle{
        height: 200px !important;
    }
    .head-box{
        height: 200px !important;
    }
    #head{
        height: 200px !important;
    }
    .mobil{
        /* bottom: -25%; */
        width: 150px;
    }
    .search-box-outer{
        padding-top: 25px;
        width: 480px;
    }
    .search-toggle-box{
        margin-top: 25px;
    }
    .search-box{
        width: 480px;
    }
    .cari-rental{
        width: 480px;
    }
    .kategori-box{
        font-size: 10px;
    }
    .box-text-kota{
        padding-top: 20px;
        margin-top: 30px !important;
        /* margin: 0 !important; */
        margin-bottom: 10px !important;
    }
    .box-text-kota h4{
        font-size:16px !important;
    }
}
@media only screen and (max-width:1026px) and (min-width:769px){
    .img-rectangle{
        height: 155px;
    }
    .head-box{
        height: 155px;
    }
    #head{
        height: 100px !important;
    }
    .mobil{
        bottom: -25%;
        width: 100px;
    }
    .search-box-outer{
        padding-top: 25px;
        width: 400px;
    }
    .search-toggle-box{
        margin-top: 25px;
    }
    .search-box{
        width: 400px;
    }
    .cari-rental{
        width: 400px;
    }
    .kategori-box{
        font-size: 10px;
    }
    .box-text-kota{
        padding-top: 20px;
        margin-top: 30px !important;
        /* margin: 0 !important; */
        margin-bottom: 10px !important;
    }
    .box-text-kota h4{
        font-size:14px !important;
    }
}
@media only screen and (max-width:768px) and (min-width:567px){
    .img-rectangle{
        height: 155px;
    }
    .head-box{
        height: 155px;
    }
    .mobil{
        bottom: -25%;
        width: 80px;
    }
    .search-box-outer{
        padding-top: 25px;
        width: 300px;
    }
    .search-toggle-box{
        margin-top: 25px;
    }
    .search-box{
        width: 300px;
    }
    .cari-rental{
        width: 300px;
    }
    .kategori-box{
        font-size: 10px;
    }
    .box-text-kota{
        padding-top: 20px;
        margin: 0 !important;
    }
    .box-text-kota h4{
        font-size:14px !important;
    }
}

@media only screen and (max-width:566px) and (min-width:401px){
    .img-rectangle{
        height: 125px;
    }
    #head{
        margin: 0;
    }
    .head-box{
        height: 125px;
    }
    .mobil{
        bottom: -25%;
        width: 80px;
    }
    .search-box-outer{
        padding-top: 25px;
        width: 250px;
    }
    .search-toggle-box{
        margin-top: 25px;
    }

    .search-box{
        width: 250px;
    }
    .cari-rental{
        width: 250px;
    }
    .kategori-box{
        font-size: 10px;
    }
    .box-text-kota{
        padding-top: 20px;
        /* font-size: 12px; */
        margin: 0 !important;
    }
    .box-text-kota h4{
        font-size:12px !important;
    }
}

@media only screen and (max-width:400px){
    .img-rectangle{
        height: 125px;
    }
    .head-box{
        height: 125px;
    }
    .mobil{
        bottom: -25%;
        width: 80px;
    }
    .search-box-outer{
        padding-top: 25px;
        width: 250px;
    }
    .search-toggle-box{
        margin-top: 25px;
    }

    .search-box{
        width: 250px;
    }
    .cari-rental{
        width: 250px;
    }
    .kategori-box{
        font-size: 10px;
    }
    .box-text-kota{
        padding-top: 20px;
        margin: 0 !important;
    }
}